<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="General" />
      <setting id="nsongs" type="text" label="30002" default="10" />
      <setting id="timetoanswer" type="text" label="30003" default="20" />
      <setting id="seektime" type="text" label="30006" default="20" />
    <setting type="lsep" label="Enchainement" />
      <setting id="autonextsong" type="bool" label="30001" default="false" />
      <setting id="timebetweensongs" type="text" label="30004" default="2" enable="eq(-1,true)" />
      <setting id="continueplaylinglast" type="bool" label="30009" default="true" />
    <setting type="lsep" label="Erreurs" />
      <setting id="helpaftererror" type="bool" label="30007" default="true" />
      <setting id="newquestionaftererror" type="bool" label="30008" default="true" />
      <setting id="timebetweenquestions" type="text" label="30005" default="2" enable="eq(-1,true)"/>
</settings> 